---
// import { Tina } from "tinacms";
import { CustomMarkdown } from "../../components/CustomMarkdown";
// import BlogFooter from "../../components/BlogFooter.astro";
import client from "../../../tina/__generated__/client";
import "../../styles/global.css";
import MainBlogLayout from "../../layouts/MainBlogLayout.astro";
import BlogFooter from "../../components/BlogFooter.astro";

export async function getStaticPaths() {
  const resp = await client.queries.postConnection();
  const posts = (resp.data.postConnection?.edges ?? [])
    .map((e) => e?.node ?? null)
    .filter((n) => n);

  return posts.map((post) => ({
    params: { slug: post?._sys.filename },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<MainBlogLayout title={post?.title}>
  <div class="ps-3 pe-3 pt-3 lg:w-4xl lg:mx-auto">
    <article class="mx-auto">
      <div class="mx-auto">
        <figure class="text-center">
          <img
            src={post?.image}
            alt={post?.alt}
            class="w-full lg:w-4xl lg:border-2 lg:mx-auto object-cover aspect-square lg:aspect-auto"
          />
          {
            post?.caption && (
              <figcaption class="mt-2 text-sm text-gray-500">
                {post.caption}
              </figcaption>
            )
          }
        </figure>
      </div>
      <h1 class="text-3xl lg:text-4xl font-bold mt-5 mb-3 text-center">
        {post?.title}
      </h1>
      <div class="mt-2 text-center">
        <p class="font-medium">{post?.author}</p>
        <div class="font-medium my-1">
          <time
            >{
              post?.date &&
                new Date(post.date).toLocaleDateString("en-UK", {
                  weekday: "long",
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
            }</time
          >
        </div>
      </div>

      <div class="text-justify py-3 mt-15">
        <CustomMarkdown content={post?.body} />
      </div>
    </article>
    <BlogFooter />
  </div>
</MainBlogLayout>
