---
import client from "../../tina/__generated__/client";

// Fetch counts dynamically from Tina CMS
const [projectResp, postResp, experienceResp, globalResp] = await Promise.all([
  client.queries.projectConnection(),
  client.queries.postConnection(),
  (client.queries as any).experienceConnection(),
  client.queries.global({ relativePath: "index.md" }),
]);

const projectCount = projectResp.data.projectConnection?.totalCount ?? 0;
const blogCount = postResp.data.postConnection?.totalCount ?? 0;
const experienceCount =
  experienceResp.data.experienceConnection?.totalCount ?? 0;
import ThemeSwitcher from "./ThemeSwitcher.astro";

const globalData = globalResp.data.global;
---

<div class="twitter-profile-info">
  <div class="twitter-profile-header">
    <div>
      <h1 class="twitter-display-name">{globalData.name}</h1>
      <p class="twitter-handle">{globalData.handle}</p>
    </div>
    <div class="desktop-only">
      <ThemeSwitcher />
    </div>
  </div>

  <p class="twitter-bio">
    {globalData.bio}
  </p>

  <div class="twitter-meta">
    <span class="twitter-meta-item">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
        ></path>
      </svg>
      {globalData.location}
    </span>
    <a
      href={globalData.github}
      target="_blank"
      class="twitter-meta-item"
      style="color: var(--twitter-blue);"
    >
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11.96 2C6.45 2 2 6.45 2 11.96s4.45 9.96 9.96 9.96c5.51 0 9.96-4.45 9.96-9.96S17.47 2 11.96 2zm6.23 6.55h-2.45c.25 1.72.41 3.6.41 5.45 0 1.85-.16 3.73-.41 5.45h2.45c.7-1.64 1.09-3.5 1.09-5.45s-.39-3.81-1.09-5.45zm-6.23 12.77c-1.06-1.35-1.91-3.92-2.21-7.32h4.43c-.3 3.4-1.16 5.97-2.22 7.32zM9.52 12c0-1.89.16-3.65.41-5.45h4.14c.25 1.8.41 3.56.41 5.45s-.16 3.65-.41 5.45H9.93c-.25-1.8-.41-3.56-.41-5.45zm2.44-9.32c1.06 1.35 1.92 3.92 2.22 7.32H9.75c.3-3.4 1.16-5.97 2.21-7.32zM8.16 8.55H5.71c-.7 1.64-1.09 3.5-1.09 5.45s.39 3.81 1.09 5.45h2.45c-.25-1.72-.41-3.6-.41-5.45 0-1.85.16-3.73.41-5.45zm-.32-1.68c-.67 1.58-1.05 3.41-1.05 5.13h-2.6c.43-2.3 1.64-4.29 3.34-5.68l.31.55zm.32 12.26c-.25 1.75-.41 3.63-.41 5.47h-2.6c-.43-2.3-1.64-4.29-3.34-5.68l.31.55h2.45c.25 1.75.41 3.63.41 5.47v-.34z"
        ></path>
      </svg>
      github.com/taradevio
    </a>
  </div>

  <div class="twitter-stats">
    <span class="twitter-stat">
      <span class="twitter-stat-number">{projectCount}</span>
      {projectCount === 1 ? "Project" : "Projects"}
    </span>
    <span class="twitter-stat">
      <span class="twitter-stat-number">{experienceCount}</span>
      {experienceCount === 1 ? "Experience" : "Experiences"}
    </span>
    <span class="twitter-stat">
      <span class="twitter-stat-number">{blogCount}</span>
      {blogCount === 1 ? "Blog Post" : "Blog Posts"}
    </span>
  </div>
</div>

<script>
  import { gsap } from "gsap";

  // Bocchi Panic Logic
  (function () {
    const avatar = document.querySelector(".twitter-avatar");
    if (avatar) {
      let glitchTimeline: gsap.core.Timeline | null = null;

      avatar.addEventListener("mouseenter", () => {
        glitchTimeline = gsap.timeline({ repeat: -1 });
        glitchTimeline
          .to(avatar, { x: 1, y: -1, duration: 0.05 })
          .to(avatar, { x: -1, y: 1, duration: 0.05 })
          .to(avatar, { x: 0, y: 0, duration: 0.05 })
          .to(avatar, { x: -2, y: 0, duration: 0.05 })
          .to(avatar, { x: 2, y: 1, duration: 0.05 })
          .to(avatar, { x: 0, y: 0, duration: 0.05 });

        gsap.to(avatar, { scale: 1.05, duration: 0.3, ease: "power2.out" });
      });

      avatar.addEventListener("mouseleave", () => {
        if (glitchTimeline) {
          glitchTimeline.kill();
          glitchTimeline = null;
        }
        gsap.to(avatar, {
          x: 0,
          y: 0,
          scale: 1,
          duration: 0.3,
          ease: "power2.inOut",
        });
      });
    }
  })();
</script>
